
<div id="capture"  class="example-boundary"   >
      <Bit-draggable [Boundry]="'.example-boundary'" >
          <span  class="example-box" id="FIRST" contenteditable="true">ALPHA EDUCATION CENTER</span>
      </Bit-draggable >

      <Bit-draggable [Boundry]="'.example-boundary'">
          <span  class="example-box" id="sec" contenteditable="true">Class Nursery to 12...</span>
      </Bit-draggable >
      <img id="img" src="../../assets/business-man-cartoon-character-businessman-flat-design-illustration-vector-removebg-preview.png" alt="" >

      <Bit-draggable [Boundry]="'.example-boundary'" >
          <span  class="example-box" id="third" contenteditable="true">Contact Number :-</span>
      </Bit-draggable >

      <Bit-draggable [Boundry]="'.example-boundary'" >
          <span  class="example-box" id="four" contenteditable="true">%</span>
      </Bit-draggable >
      <img id="img2" src="../../assets/images-removebg-preview (1).png" alt="">
</div>

<div class="btn">
    <!-- <button id="btn" (click)="screenshot()">Capture</button> &nbsp;&nbsp;&nbsp; -->
    <button (click)="screenshotAndShare()">Share</button>

</div>
